/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.hmos-feature-dev
/.codeartsdoer
/.merkle-snapshot.json
/feature-dev-output
*.hap
*.hsp
/.deveco